.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.Navigation {
    background-image: none;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 12em;
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .Navigation {
        width: 100vw;
        height: 8em;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: left;
    }
}
